@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.3rem;

  line-height: 1.7;
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #191c24;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #ccc;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

h3 {
  font-size: 26px;
  font-weight: 300;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 40px;
}

.btn {
  display: inline-block;
  background: #fff;
  color: #333;
  min-width: 135px;
  padding: 20px 32px;
  font-size: 15px;
  font-weight: 600;
  line-height: 14px;
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  text-transform: uppercase;
}

nav .container {
  display: flex;
  height: 60px;
  padding: 20px 40px;
  align-items: center;
  justify-content: space-between;
}
nav ul {
  display: flex;
}

nav ul li a:hover {
  border-bottom: 2px solid #262626;
}
nav ul li a {
  padding-bottom: 2px;
}

nav ul li {
  padding: 0 10px;
}
.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.header-intro .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 110px;
}

.header-intro img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.content {
  width: 55%;
  padding: 100px 0 0 30px;
}
.content-text {
  font-size: 22px;
  margin-bottom: 20px;
  line-height: 2;
  color: #ddd;
}
.text-lg {
  font-size: 50px;
  font-weight: bold;
}

.about-me {
  padding: 40px;
  margin-bottom: 70px;
}

.about-border {
  border: 4px solid gray;
  border-radius: 16px;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.about-text {
  width: 80%;
  padding: 20px 0 0 70px;
}

.swiper {
  width: 1000px;
  height: 300px;
}
.swiper-slide .card {
  background: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
}
.card {
  background: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding: 10px;
}
.card h3 {
  font-weight: bold;
}

.blogs__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 0 40px;
  margin-bottom: 20px;
}

.blog-card span {
  color: gray;
  margin-left: 250px;
}

.languages .flex {
  flex-wrap: wrap;
}

.languages .card {
  text-align: center;
  margin: 18px 10px 40px;
  transition: transform 0.2s ease-in;
}

.languages .card h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.languages .card:hover {
  transform: translateY(-15px);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
